@font-face{font-family:fonte; src:url("../../Home/fonte/Pacifico.ttf")}

.logo{
    font-family: fonte;
    color: #fff;
}

#myFooter {
    background-color: #3c3d41;
    color: white;
    padding-top: 30px;
  padding: 0!important;
}

#myFooter .footer-copyright {
    background-color: #333333;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
}

#myFooter .row {
    margin-bottom: 60px;
}

#myFooter .navbar-brand {
    margin-top: 45px;
    height: 65px;
}

#myFooter .footer-copyright p {
    margin: 10px;
    color: #ccc;
}

#myFooter ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}


#myFooter h5 {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

#myFooter h2 a{
    font-size: 55px;
    text-align: center;
    font-family: fonte;
    color: #fff;
}

#myFooter a {
    color: #d2d1d1;
    text-decoration: none;
}

#myFooter a:hover,
#myFooter a:focus {
    text-decoration: none;
    color: white;
}

#myFooter .social-networks {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 16px;
}

#myFooter .social-networks a {
    font-size: 32px;
    color: #f9f9f9;
    padding: 10px;
    transition: 0.2s;
}

#myFooter .social-networks a:hover {
    text-decoration: none;
}

#myFooter .facebook:hover {
    color: #0077e2;
    cursor: pointer;
}

#myFooter .instagram:hover {
    color: purple;
    cursor: pointer;
}

#myFooter .twitter:hover {
    color: #00aced;
    cursor: pointer;
}

#myFooter .btn {
    color: white;
    background-color: #880e4f;
    border-radius: 20px;
    border: none;
    width: 150px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    line-height: 25px;
}
@media screen and (min-width: 300px) {
    .container-fluid{
        padding-left: 0px!important;
        padding-right: 0px!important;
    }
}

@media screen and (max-width: 767px) {
    #myFooter {
        text-align: center;
    }
}



