.faleconosco{
    min-height: 800px;
    height: auto;
    padding: 60px
    /* background-color:lightcyan; */
}

/* .caixa-form-fale-conosco{
    width: 800px;
    height: inherit;
} */

.titulo-fale-conosco{
    padding-top: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px
    
}

.texto-fale-conosco{
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 17px
}