<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tcc.sp.senai.br.showdebolos">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreen"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivityFragment"
            android:theme="@style/noBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/noBar" />
        <activity
            android:name=".CircularReveal"
            android:theme="@style/noBar" />
        <activity android:name=".LoginConfeiteiroActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".LoginClienteActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".CadastroClienteActivity"
            android:label="@string/cadastro_cliente">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoginClienteActivity" />
        </activity>
        <activity
            android:name=".CadastroConfeiteiroActivity"
            android:label="@string/cadastro_confeiteiro">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoginConfeiteiroActivity" />
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".CadastroEnderecoConfeiteiroActivity" />
        <activity
            android:name=".PerfilConfeiteiroActivity"
            android:theme="@style/noBar" />
        <activity
            android:name=".VisualizarProdutoActivity"
            android:theme="@style/noBar" />
        <activity
            android:name=".TodosConfeiteirosActivity"
            android:theme="@style/noBar" />
        <activity
            android:name=".ProdutosCategoriaActivity"
            android:theme="@style/noBar" />
        <activity android:name=".PagamentoActivity" />
        <activity android:name=".CadastroEnderecoClienteActivity" />
        <activity
            android:name=".SucessoActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity android:name=".DataEntregaActivity" />
        <activity android:name=".HoraEntregaActivity" />
        <activity
            android:name=".DetalhePedidoActivity"
            android:noHistory="true" />
        <activity
            android:name=".SucessoPedidoActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"></activity>
        <activity android:name=".RecusadoPedidoActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"></activity>
    </application>

</manifest>